# IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/
gradle.properties
# Ignore Gradle project-specific cache directory
.gradle
.tab
.at
.len
.tab_i
.keystream
.last-build.bin
# Ignore Gradle build output directory
build